:root{
    --primary: #0090f0;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --color_heading: #253237;
    --border_color: #d6d6d6d5;
}
.topslide{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border_color);
    padding: 15px 20px 20px 0; 
   
}
.topslide::after{
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background: var(--primary);
}
.topslide h2{
    font-size: 30px;
    color: var(--primary);
    margin-bottom: 10px;
    text-transform: capitalize;
}
.slideproduct{
    
    padding: 50px 0;
}


/* product */

.product{
    width: 250px ;
    background: var(--white_color);
    padding: 25px 15px;
    border: 1px solid var(--border_color);
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
   
}
.product:hover{
border-color: var(--primary);
box-shadow: 10px 10px 15px #9494943e ;
}

.product .img_product{
    position: relative;
    height: 180px;
    padding: 0 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}
.product .name_product{
    margin-bottom: 10px;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}
.product .stars{
    margin: 15px 0;
    gap: 5px;
    display: flex;

}
.product .stars svg{
    fill: #f8d941;
    font-size: 18px;
}
.product .price{
    font-weight: bold;
    font-size: 20px;
}  
.product .icons {
    display: flex;
    position: absolute;
    top: 20% ;
    left: 120%;
    gap: 10px;
    flex-direction: column;

        
} 

.product:hover .icons {
left:80%;
transition: 0.3s;
}
.product .icons span{
    width: 40px;
    height: 40px;
    background: var(--bg_color);
    display: flex;
    align-items: center;
    justify-content: center ;
    border-radius: 100px;
    cursor: pointer;

}
.product .icons span.inFav{
  background-color: var(--primary);

}
.product .icons span.inFav svg{
    fill: white ;
}




 .product.incart .icons .btn_cart{
    background: var(--primary);
 }
  .product.incart .icons .btn_cart svg{
    color: white;
  }
  .product .status {
    display: flex;
    gap: 7px;
   left: 100px;
   top: -20px;
    align-items: center;
    position: absolute;
    font-size: 18px;
    transition: 0.3s;
    color: rgb(48, 43, 43);
  }
   .product.incart .status{
    top: 10px;
   }
  .product .status svg{
    fill: rgb(54, 236, 54);
  }

  .toastcontent{

 display: flex;
 justify-content: start;
 align-items: center;
 padding: 0px 5px ;
 width: 350px;


  }
  .toastcontent .toastimg{
   
    margin-right: 20px;
    width: 20%;
    


  }
  .toastcontent .toastdetails {
    width: 80%;
  }

  .toastcontent .toastdetails h3{
    font-weight: 600;
    font-size:15px;
    margin-bottom: 9px;
  }
  .toastcontent .toastdetails .btn{
    margin-top: 5px; 
  }
