:root{
    --primary: #0090f0;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --color_heading: #253237;
    --border_color: #d6d6d6d5;
}


.itemdetails{
    padding: 50px 0;
    margin-bottom: 100px;
 
}

.itemdetails .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemdetails .imagesitem{
    width: 40%;
    
}
.itemdetails .imagesitem .bigimage{
    padding: 20px 0;
    
}

.itemdetails .imagesitem .smalimage{
    display: flex;
justify-content: space-between;
    cursor: pointer;


}
.itemdetails .imagesitem .smalimage img{
 width: 30%;
 padding: 15px;
 
}

.itemdetails .detailsitem{
width: 58%;
margin-bottom: 100px;
}
.itemdetails .detailsitem .name{
    margin-bottom: 30px;
    color: var(--primary);
    font-size:xx-large ;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
}
.itemdetails .detailsitem .stars{
    display: flex;
    gap: 5px;    
    margin-bottom: 15px;
}
.itemdetails .detailsitem .stars svg{
    fill: #f8d941;
    font-size: 20px;    
}

.itemdetails .detailsitem .price{
    font-size: 22px;
    margin: 20px 0;
}
.itemdetails .detailsitem h5{
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 16px;
}
.itemdetails .detailsitem .para{
    line-height: 1.5;

}
.itemdetails .detailsitem .stock{
    font-size: 20px;
    margin-top: 20px;
}
.itemdetails .detailsitem .btn{
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 15px;
}

.itemdetails .detailsitem .btn svg{
    font-size: 22px;
}
.itemdetails .detailsitem .icon{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    font-size: 50px;
  
}


.itemdetails .detailsitem  .icon svg{
    border-radius: 100px;
    padding: 10px;
    background: var(--bg_color);
    color: var(--primary);
    transition: 0.3s;
    
}
.itemdetails .detailsitem .icon svg:hover{
    background: var(--primary);
    color: white;
}
 
.incart:disabled {
 background-color: #cce7ff;
  cursor: not-allowed;
  color: #6a88a4;              /* muted blue-gray text */
  border: 1px solid #b3d9ff;
  color: var(--primary);}